<script type="text/javascript">
    function showhide(obj){
        //_Project.style.display = 'none';
        _message.style.display = 'none';
        _comment.style.display = 'none';
        _user.style.display = 'none';
        obj.style.display = 'block';
   }
</script> 
 

<form action="/update" method="post">  
  <label for="table_name">Table Name：</label>
  <ul>
	<input type="radio" name="table_name" value="message" onfocus=showhide(_message)>message
	<input type="radio" name="table_name" value="user" onfocus=showhide(_user)>user
	<input type="radio" name="table_name" value="comment" onfocus=showhide(_comment)>comment
    </ul>

    <div id='_message' style='display:none' >
	<label for="table_name">Select：</label>
	<ul>
		username: <input type="TEXT" name="username"><br>
		password: <input type="TEXT" name="password"><br>
	</ul>
	<label for="table_name">Update：</label><br>
	<ul>
		id: <input type="TEXT" name="id"><br>
		content: <input type="TEXT" name="content"><br>
	</ul>
  </div>

  
  
  <div id='_user' style='display:none' >
	<label for="table_name">Select：</label>
	<ul>
		username: <input type="TEXT" name="username"><br>
		password: <input type="TEXT" name="password"><br>
	</ul>
	<label for="table_name">Update：</label><br>
	<ul>
        username_reset: <input type="TEXT" name="username_reset"><br>
		email_reset: <input type="TEXT" name="email_reset"><br>
		password_reset: <input type="TEXT" name="password_reset"><br>
	</ul>
    </div>


    <div id='_comment' style='display:none' >
	<label for="table_name">Select：</label>
	<ul>
        username: <input type="TEXT" name="username"><br>
        password: <input type="TEXT" name="password"><br>
        uid: <input type="TEXT" name="uid"><br>
		mid: <input type="TEXT" name="mid"><br>
	</ul>
	<label for="table_name">Update：</label><br>
	<ul>
		content: <input type="TEXT" name="content"><br>
	</ul>
  </div>
  
  
  <input type="submit" value="Submit">
</form>

<a href="/index">Back to the index</a><br>
