<script type="text/javascript">
   function showhide(obj){
	  _message.style.display = 'none';
	  _user.style.display = 'none';
	  _comment.style.display = 'none';
	  _follows.style.display = 'none';
	  _like_dislike.style.display = 'none';
	  _location.style.display = 'none';
	  _mood.style.display = 'none';
      obj.style.display = 'block';
   }
</script>

<p>insert or delete data from table</p>
<form action="/modify" method="post">
  <label for="table_name">Operation：</label>
  <ul>
    <input type="radio" name="operation" value="INSERT">INSERT
    <!--<input type="radio" name="operation" value="DELETE">DELETE-->
  </ul>
  <label for="table_name">Table Name：</label>
  <ul>
	<input type="radio" name="table_name" value="message" onfocus=showhide(_message)>message
	<input type="radio" name="table_name" value="user" onfocus=showhide(_user)>user
	<input type="radio" name="table_name" value="comment" onfocus=showhide(_comment)>comment
	<input type="radio" name="table_name" value="follows" onfocus=showhide(_follows)>follows
	<input type="radio" name="table_name" value="like_dislike" onfocus=showhide(_like_dislike)>like_dislike
	<input type="radio" name="table_name" value="location" onfocus=showhide(_location)>location
	<input type="radio" name="table_name" value="mood" onfocus=showhide(_mood)>mood
  </ul>
  <div id='_message' style='display:none' >
    <label for="table_name">message：</label>
	<ul>
		content: <input type="TEXT" name="content"><br>
		like_num: <input type="INTEGER" name="like_num"><br>
		dislike_num: <input type="INTEGER" name="like_num"><br>
		time: <input type="TIMESTAMP" name="time"><br>
        uid: <input type="TEXT" name="uid"><br>
		l_name: <input type="TEXT" name="l_name"><br>
		l_coordinate: <input type="TEXT" name="l_coordinate"><br>
	</ul>
  </div>
    <div id='_user' style='display:none' >
    <label for="table_name">user：</label>
	<ul>
		password: <input type="TEXT" name="password"><br>
		e-mail: <input type="TEXT" name="email"><br>
		username: <input type="TEXT" name="username"><br>
	</ul>
  </div>
  
  
    <div id='_comment' style='display:none' >
    <label for="table_name">comment：</label>
	<ul>
        <!--id: <input type="INTEGER" name="id"><br>-->
		content: <input type="TEXT" name="content"><br>
		time: <input type="TIMESTAMP" name="time"><br>
		uid: <input type="TEXT" name="uid"><br>
		mid: <input type="INTEGER" name="mid"><br>
	</ul>
    </div>

    <div id='_follows' style='display:none' >
    <label for="table_name">follows：</label>
	<ul>
		uid: <input type="TEXT" name="uid"><br>
		mid: <input type="TEXT" name="mid"><br>
	</ul>
    </div>

    <div id='_like_dislike' style='display:none' >
    <label for="table_name">_like_dislike：</label>
	<ul>
		like_dislike: <input type="TEXT" name="like_dislike"><br>
		uid: <input type="TEXT" name="uid"><br>
		mid: <input type="TEXT" name="mid"><br>
	</ul>
    </div>


    <div id='_location' style='display:none' >
    <label for="table_name">loaction：</label>
	<ul>
		name: <input type="TEXT" name="name"><br>
		coordinate: <input type="TEXT" name="coordinate"><br>
	</ul>
    </div>


    <div id='_mood' style='display:none' >
    <label for="table_name">loaction：</label>
	<ul>
		type: <input type="TEXT" name="type"><br>
		mid: <input type="TEXT" name="mid"><br>
	</ul>
    </div>

    <input type="submit" value="Submit">
</form>

<a href="/index">Back to the index</a><br>
